# Ignore compiled Python files
*.pyc
*__pycache__/

# Ignore Node.js modules
node_modules/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore sensitive information
secrets.txt